/*-- scss:defaults --*/

/*-- scss:rules  --*/

.reveal .slide .goals {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px #556b2f;
  background-color: #fff0f5;
}

.reveal .slide .task {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px #00688b;
  background-color: #faf0e6;
}

/* from chatgpt */

mark {
  background-color: #b0e0e6; /* soft orange */
  color: black;              /* optional: override text color */
  padding: 0.1em 0.2em;
  border-radius: 0.15em;
}
